
@{
    Layout = null;    
}

@*@model DemoMVC.Models.Employee*@

@*@using DemoMVC.Models
@model Employee*@

@using DemoMVC.ViewModels
@model EmployeeListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div> 
        @{
            //DemoMVC.Models.Employee emp=(DemoMVC.Models.Employee) ViewData["Employee"];
            //DemoMVC.Models.Employee emp = (DemoMVC.Models.Employee)ViewBag.Employee;
         
        }
        @*Welcome to MVC 5 Step by Step learning.
        <br />
        <b>Employee Details </b><br />
        Employee Name : @emp.FirstName @emp.LastName <br />
        Employee Salary: @emp.Salary.ToString("C")<br />
        Employee Name : @emp.FirstName @emp.LastName <br />
        Employee Salary: @emp.Salary.ToString() <br />*@
        @*@{ Response.Write(emp.FirstName);}*@


        Hello World, <hr />
        <b>Employee Details </b><br />

        @*Employee Name:@Model.EmployeeName <br />
        @if (@Model.Salary > 15000)
        { 
        <span style="background-color:gray">Employee Salary:@Model.Salary</span>
        }
        else
        { 
        <span style="background-color:purple">Employee Salary:@Model.Salary.ToString("C");</span>
        }*@

        <div style="text-align:right"> Hello, @Model.UserName 

        <a href="/Authentication/Logout">Logout</a></div>
        <hr />

 @*Add  New link is modified for athenticate user.*@

        @*<a href ="/Employee/AddNew">Add New</a>*@

        @{
            Html.RenderAction("GetAddNewLink");
        }

            <table border="1">
                <tr>
                    <th> Employee Name</th>
                    <th> Salary</th>
                </tr>
                @foreach (EmployeeViewModel item in @Model.Employees)
                {
                    <tr style="background-color:@item.SalaryColor">
                        <td>@item.EmployeeName</td>
                        <td>@item.Salary</td>
                    </tr>
                }
            </table>

        @{
            Html.RenderPartial("Footer", Model.FooterData);
        }


</div>
</body>
</html>
 