@model DemoMVC.Models.UserDetails
@{
    Layout = null; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div> 
        @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
        @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))
        {

            @Html.LabelFor(c => c.UserName)

            @Html.TextBoxFor(x => x.UserName) 
            <br/>
            @Html.ValidationMessageFor(x => x.UserName)

    @*<input data-val="true" data-val-length="UserName length should be between 2 and 7" data-val-length-max="7"
      data-val-length-min="2" id="UserName" name="UserName" type="text" value="" />
     <span class="field-validation-error" data-valmsg-for="UserName" data-valmsg-replace="true"> </span>*@

            <br />

            @Html.LabelFor(c => c.Password)

            @Html.PasswordFor(x => x.Password)

            <br />


            <input type="submit" name="BtnSubmit" value="Login" />

        }

    </div>
</body>
</html>
